body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}

aside {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

main {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* ASIDE */
#studentProfile  {
    width: 20%;
    height: 10%;
    margin: 5%;
    margin-right: 2.5%;
}

#profilePicture {
    width: 100%;
    height: 100%;
    border: 1px dashed black;
}

#studentInfo {
    width: 75%;
    height: 10%;
    padding: 5%;
    padding-left: 2.5%;
}

#studentName {
    margin: 0;
    font-size: 1.3em;
    font-family: "Gloock", serif;
}

#studentClass {
    margin: 0;
    margin-top: 5%;
    font-size: 0.8em;
}

/* MAIN */
header {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#heading {
    margin: 0;
    font-size: 4em;
    font-family: "Gloock", serif;
}

#rules {
    color: black;
    text-decoration: underline;
}

form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

textarea {
    width: 80%;
    height: 40%;
}

select {
    width: 30%;
}

#check {
    display: flex;
    flex-direction: row;
}

#sendButton {
    width: 30%;
    font-size: 30px;
    font-family: "Gloock", serif;
    background-color: #FFF;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
}

/* SECTION */
.flagImg {
    width: 70%;
    height: 7%;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flagImg:nth-of-type(1) {
    margin: 30% 50% 10% 30%;
}

.flagImg:nth-of-type(2) {
    margin: 10% 50% 10% 30%;
}

.flagImg:nth-of-type(3) {
    margin: 10% 50% 30% 30%;
}

.flagImg a {
    color: white;
    text-decoration: none;
}
